<!doctype html>
<html>
  <head>
    <title>Check Your Weather!</title>
    <link rel="stylesheet"  type="text/css" href="/main.css" />
  </head>
  <body>
    <h1>Weather for <%=weather.name%>/<%=weather.sys.country</h1>

    <p>Temperature: <%=weather.main.temp%></p>
    <p>Condition: <%=weather.weather[0].description%></p>
    <p>Max/Min Temperature: <%=weather.main.temp_max%>/<%=weather.main.temp_min%></p>
    <p>Humidity: <%=weather.main.humidity%></p>
    <img src="http://openweathermap.org/img/wn/<%=weather.weather[0].icon%>@2x.png" alt="Weather Icon">

    <form action="/weather" method="get">
      <label for="city">Enter city name:</label>
      <input type="text" id="city" name="city" required>
      <button type="submit">Check weather</button>
    </form>
  </body>
</html>